

.container1{
    
  display:grid;
  grid-template-rows: 4em auto;
  grid-template-areas: 
  "hd hd hd hd hd hd hd hd"
  "sd sd sd sd sd sd sd sd"
  "main main main main main main main main"
  "ft ft ft ft ft ft ft ft";
  gap: 5em;
 

}


@media (min-width:700px) {
  .container1{
    
    display:grid;
    grid-template-rows: 4em auto;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "sd sd main main main main main main"
    "ft ft ft ft ft ft ft ft";
    gap: 5em;
   

}
}



  .header1{
    grid-area:hd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(242, 244, 247);
    
  }

  .footer{
    grid-area: ft;  
  }
  .sidebar{
    grid-area: sd;
  }
  .content1{
    grid-area: main;
  }
  
 p{
    font-family: italic;
    font-style: italic;
    font-weight: bold;
    text-decoration-line: underline;
 }
  
  