
@media (max-width:700px) {
  .container1{
    
    display:grid;
    grid-template-rows: 4em auto;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "sd sd sd sd sd sd sd sd"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft";
    gap: 5em;
    font-size: 2.5vw;
    width: 100%;
    line-height: 1.8;
  }
}

@media (min-width: 701px) and (max-width:900px) {
  .container1{
    display:grid;
    grid-template-rows: 4em auto;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "sd sd main main main main main main"
    "ft ft ft ft ft ft ft ft";
    gap: 5em;
    line-height: 1.8;

}

}
@media (min-width:901px) {
  .container1{
    
    display:grid;
    grid-template-rows: 4em auto;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "sd sd main main main main main main"
    "ft ft ft ft ft ft ft ft";
    gap: 5em;
    line-height: 1.8;

}

}

  .header1{
    grid-area:hd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(242, 244, 247);
    
  }

  .footer{
    grid-area: ft;  
  }
  .sidebar{
    grid-area: sd;
  }
  .content1{
    grid-area: main;
  }
  
 p{
    font-family: italic;
    font-style: italic;
    font-weight: bold;
    text-decoration-line: underline;
 }
  
  