button:hover, a:hover {
    opacity: 0.7;
  }
  .ingredients{
    border: 2px solid ;
    border-color: rgb(187, 98, 98);
    background-color: rgb(241, 213, 213);
  }
  .about{
    background-color:rgb(241, 213, 213);
    box-shadow: 10px 10px 5px 5px rgb(162, 185, 192);
   
  }
  .button {
    border-color: rgb(187, 98, 98);
    background-color: rgb(241, 213, 213);
    text-align: center;
    display: inline-block;
    border-radius: 30%;
  }
.image{
  max-width: 100%;
  width: 100%;
  height: auto;
}
blockquote {
  font-style: italic;
  color: #474747;
  font-size: 1em;
}

blockquote:before {
  content: open-quote;
  font-size: 2em;
  color: #474747;
}

blockquote:after {
  content: close-quote;
  font-size: 2em;
  color: #474747;
}
.image1{
  vertical-align: middle;
  max-width: 100%;
  width: 100%;
  border-radius: 50%;
}